<nz-row nzGutter="24">
  <div nz-col nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
  <div nz-col nzXs="24" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
    <nz-row nzGutter="24" style="padding-bottom: 10px;">
      <nz-col nzSpan="18">
<!--        <input nz-input placeholder="Basic usage" [(ngModel)]="value" type="text" />-->
      </nz-col>
      <nz-col nzSpan="6" style="text-align: right">
        <button nz-button nzType="primary" (click)="openDrawer(false, null)">
          + Add new
        </button>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="24" style="padding-bottom: 10px;">
      <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
        <input nz-input nzSize="small" placeholder="⌕ Name" [(ngModel)]="_name" type="text" (ngModelChange)="getAllEmployees()"/>
      </nz-col>
      <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
        <input nz-input nzSize="small" placeholder="⌕ Position" [(ngModel)]="_position" type="text" (ngModelChange)="getAllEmployees()"/>
      </nz-col>
      <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
        <input nz-input nzSize="small" placeholder="⌕ Department" [(ngModel)]="_department" type="text" (ngModelChange)="getAllEmployees()"/>
      </nz-col>
    </nz-row>
    <nz-table #basicTable [nzData]="employees" [nzPageIndex]="1" [nzPageSize]="5" [nzTotal]="employees.length">
      <thead>
      <tr>
        <th>Name</th>
        <th>username</th>
        <th>Position</th>
        <th>Department</th>
        <th>Status</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.position }}</td>
            <td>{{ data.department.name }}</td>
            <td>
              <nz-tag *ngIf="data.isActive" nzColor="success">Active</nz-tag>
              <nz-tag *ngIf="!data.isActive" nzColor="error">Inactive</nz-tag>
            </td>
            <td>
              <input type="file" (change)="onFileSelect($event, data)" accept="image/*" />
            </td>
            <td>
              <a (click)="openDrawer(true, data)">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="openDrawer(false, data)">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
</nz-row>
