<div nz-row nzAlign="middle" nzJustify="center" style="height: calc(90vh - 150px);">
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="8"></div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="8">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="logIn()">
      <h3 style="text-align: center; padding-bottom: 0" nz-typography>Welcome</h3>
      <p style="text-align: center; padding-bottom: 10px;" nz-typography>
        Please log in to continue.
      </p>
      <nz-form-item style="padding-bottom: 20px;">
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="padding-bottom: 20px;">
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-row nzGutter="24">
        <nz-col nzSpan="12" style="text-align: left">
          <button nz-button class="login-form-button login-form-margin" [nzType]="'default'">Reset</button>
        </nz-col>
        <nz-col nzSpan="12" style="text-align: right">
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="loading">Log in</button>
        </nz-col>
      </nz-row>
    </form>
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="8"></div>
</div>
