<!--<nz-row nzGutter="24">-->
<!--  <div nz-col nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>-->
<!--  <div nz-col nzXs="24" nzSm="20" nzMd="20" nzLg="20" nzXl="20">-->
<!--    <nz-table #basicTable [nzData]="logs" [nzPageIndex]="1" [nzPageSize]="5" [nzTotal]="logs.length">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>action</th>-->
<!--        <th>details</th>-->
<!--        <th>date</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        @for (data of basicTable.data; track data) {-->
<!--          <tr>-->
<!--            <td>{{ data.action }}</td>-->
<!--            <td>{{ data.details }}</td>-->
<!--            <td>{{ data.date }}</td>-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;              <nz-tag *ngIf="data.isActive" nzColor="success">Active</nz-tag>&ndash;&gt;-->
<!--&lt;!&ndash;              <nz-tag *ngIf="!data.isActive" nzColor="error">Inactive</nz-tag>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--          </tr>-->
<!--        }-->
<!--      </tbody>-->
<!--    </nz-table>-->
<!--  </div>-->
<!--  <div nz-col nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>-->
<!--</nz-row>-->

<nz-list *ngIf="+logs.length > 0" nzBordered style="height: calc(90vh - 150px);">
  @for (item of logs; track item) {
    <nz-list-item>
      <nz-row nzGutter="24" style="width: 100%">
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Activity</span>
          <br>
          <nz-tag *ngIf="item.action === 'create'" nzColor="success">created</nz-tag>
          <nz-tag *ngIf="item.action === 'update'" nzColor="warning">updated</nz-tag>
          <nz-tag *ngIf="item.action === 'delete'" nzColor="error">deleted</nz-tag>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Name</span>
          <br>
          <span nz-typography><strong>{{item.empName}}</strong></span>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Username</span>
          <br>
          <span nz-typography><strong>{{item.empUsername}}</strong></span>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Position</span>
          <br>
          <span nz-typography><strong>{{item.empPosition}}</strong></span>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Department</span>
          <br>
          <span nz-typography><strong>{{ item.empDepartment }}</strong></span>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
          <span nz-typography nzType="secondary">Date</span>
          <br>
          <span nz-typography><strong>{{ item.date | date:'yyyy-MM-dd HH:mm:ss' }}</strong></span>
        </nz-col>
      </nz-row>
    </nz-list-item>
  }
</nz-list>

<nz-result *ngIf="+logs.length <= 0" nzStatus="404" nzTitle="Not Found." nzSubTitle="Sorry, currenly there is no any activity logs.">
</nz-result>
